.filter-form {
  @extend .my-3, .p-3;
  background-color: $secondary;
  color: $dark;
  border-radius: 0.5rem;

  label {
    font-weight: $headings-font-weight;

    &.category {
      font-weight: $font-weight-bolder;
      text-transform: uppercase;
    }
  }

  .input-group-text {
    background-color: $dark;
    color: $light;
  }
}