@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

$breakpoints-xs: 0;
$breakpoints-sm: 576px;
$breakpoints-md: 768px;
$breakpoints-lg: 992px;
$breakpoints-xl: 1200px;

.cell-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell-sm {
  @extend .cell-center;

  @media (min-width: $breakpoints-sm) {
    justify-content: flex-start;
  }
}

body {
  @extend .container;

  @media (min-width: 1440px) {
    max-width: 1368px;
  }

  @media (min-width: 1700px) {
    max-width: 1615px;
  }

  background-color: $primary;
  color: $light;

  header {
    @extend .h1, .my-3, .pb-3;
  }

  footer {
    @extend .h6, .my-3, .pt-3;
    font-weight: $font-weight-bolder;
    text-align: center;
    color: $secondary;
  }

  .loader {
    @extend .cell-center;
    min-height: 50vh;
  }
}

.alert {
  @extend .cell-center;
  justify-content: flex-start;

  i.material-icons {
    @extend .mr-2;
  }
}