@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

body {
  @extend .container;

  @media (min-width: 1440px) {
    max-width: 1368px;
  }

  @media (min-width: 1700px) {
    max-width: 1615px;
  }

  background-color: $primary;
  color: $light;

  header {
    @extend .h1, .my-3, .pb-3;
  }

  footer {
    @extend .h6, .my-3, .pt-3;
    font-weight: $font-weight-bolder;
    text-align: center;
    color: $secondary;
  }

  .loader {
    @extend .cell-center;
    min-height: 50vh;
  }
}