.job-card {
  @extend .my-3;
  text-align: center;
  color: $dark;

  @media (min-width: $breakpoints-sm) {
    text-align: left;
  }

  .card {
    &-subtitle {
      @extend .h6;
      margin-top: 1rem;
      font-weight: $font-weight-bolder;

      @media (min-width: $breakpoints-sm) {
        margin-top: 0;
      }
    }

    &-title {
      @extend .h4;
    }
  }

  .description {
    [class*='col'] {
      @extend .cell-center--sm, .mt-2;

      &:not(.type) {
        @media (min-width: $breakpoints-md) {
          justify-content: flex-end;
        }
      }

      .icon-text {
        @extend .cell-center--sm;
      }
    }
  }
}