.job-detail {
  .title {
    @extend .cell--sm;
    font-weight: $font-weight-bolder;
  }

  .subtitle {
    font-weight: $font-weight-bolder;
    color: $secondary;
    text-transform: uppercase;
  }

  .logo {
    @extend .cell-center--xs;

    img {
      @extend .my-3, .p-3;
      background-color: $light;
    }
  }

  .description {
    @extend .cell-center--xs;
  }

  a {
    color: $warning;
    overflow-wrap: break-word;

    &:hover {
      color: $danger;
    }
  }

  .icon-text {
    &.btn {
      @extend .mb-4;
    }
  }
}