.job-detail {
  .title {
    @extend .cell--sm;
    font-weight: $font-weight-bolder;
  }

  .subtitle {
    font-weight: $font-weight-bolder;
    color: $secondary;
    text-transform: uppercase;
  }

  .logo {
    @extend .cell-center--xs;
  }

  a {
    color: $warning;

    &:hover {
      color: $danger;
    }
  }
}